
@{
    ViewBag.Title = "Documentacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documentación</h2>

<hr />

<h3>¿ Como ... ?</h3>

<br />

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapsePrecioMarco"> <span class="glyphicon glyphicon-plus-sign"></span> Calcular precio de un marco</a>
            </h4>
        </div>
        <div id="collapsePrecioMarco" class="panel-collapse collapse">
            <div class="panel-body">
                Ingresar al menú <b>Calcular precio</b>.
                <br /> Completar <b>Ancho</b> y <b>Largo</b> del marco, por último seleccionar la <b>varilla</b> y presionar el boton <b>Calcular</b>.
            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseInsertarVarilla"> <span class="glyphicon glyphicon-plus-sign"></span> Ingresar nueva varilla</a>
            </h4>
        </div>
        <div id="collapseInsertarVarilla" class="panel-collapse collapse">
            <div class="panel-body">
                Ingresar al menú <b>Varillas</b>.
                <br /> Seleccionar el boton <span class="glyphicon glyphicon-plus"></span> <b>Nueva</b>, completar los campos <b>Nombre</b>, <b>Ancho</b>, <b>Precio</b> y <b>Cantidad</b>, por último presionar el boton <b>Listo</b>.
            </div>
        </div>
    </div>
</div>


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseEditarVarilla"> <span class="glyphicon glyphicon-plus-sign"></span> Editar cantidad, precio o disponibilidad de varilla</a>
            </h4>
        </div>
        <div id="collapseEditarVarilla" class="panel-collapse collapse">
            <div class="panel-body">
                Ingresar al menú <b>Varillas</b>.
                <br /> Seleccionar el boton <span class="glyphicon glyphicon-pencil"></span> de la varilla que se quiere editar en la grilla.
                <br /> Actualizar los campos <b>Cantidad</b>, <b>Precio</b> o <b>Disponible</b> según se quiera, por último presionar el boton <b>Guardar</b>.
            </div>
        </div>
    </div>
</div>

<br />