@{
    ViewBag.Title = "Cadres - Inicio";
}

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <img src="~/Content/Images/Home-Cadres.jpg" class="img-rounded center-block">
    </div>
</div>

<br />
<br />